In [1]:
import pandas as pd

In [2]:
glucose_data = pd.read_csv(f"diabetes_subset_pictures-glucose-food-insulin/001/glucose.csv")

In [7]:
glucose_data.head(20)

          date      time  glucose    type  comments
0   2014-10-01  19:14:00     10.3     cgm       NaN
1   2014-10-01  19:19:00      9.9     cgm       NaN
2   2014-10-01  19:23:00      9.4  manual       NaN
3   2014-10-01  19:24:00      9.8     cgm       NaN
4   2014-10-01  19:29:00      9.6     cgm       NaN
5   2014-10-01  19:34:00      9.4     cgm       NaN
6   2014-10-01  19:39:00      9.2     cgm       NaN
7   2014-10-01  19:44:00      8.9     cgm       NaN
8   2014-10-01  19:49:00      8.7     cgm       NaN
9   2014-10-01  19:54:00      8.4     cgm       NaN
10  2014-10-01  19:59:00      8.2     cgm       NaN
11  2014-10-01  20:04:00      8.0     cgm       NaN
12  2014-10-01  20:09:00      7.9     cgm       NaN
13  2014-10-01  20:14:00      7.9     cgm       NaN
14  2014-10-01  20:19:00      7.8     cgm       NaN
15  2014-10-01  20:24:00      7.8     cgm       NaN
16  2014-10-01  20:29:00      7.7     cgm       NaN
17  2014-10-01  20:34:00      7.5     cgm       NaN
18  2014-10-01  20:39:00      7.5     cgm       NaN
19  2014-10-01  20:44:00      7.5     cgm       NaN

In [4]:
glucose_data.loc[1]

date        2014-10-01
time          19:19:00
glucose            9.9
type               cgm
comments           NaN
Name: 1, dtype: object

In [6]:
glucose_data.shift(-6).loc[1]

date        2014-10-01
time          19:44:00
glucose            8.9
type               cgm
comments           NaN
Name: 1, dtype: object